{% extends "base.html" %}

{% block title %}Authors — {{ SITENAME }}{% endblock %}
{% block description %}Authors page lists all post authors.{% endblock %}

{% block content %}
    <h1>Authors</h1>
    <ul>
        {% for author, articles in authors %}
            <li><a href="{{ SITEURL }}/{{ author.url }}">{{ author }} ({{ articles | count }})</li>
        {% endfor %}
    </ul>
{% endblock %}
